<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta name="description" content="Objevte svého ochránce a patrona mezi vikingskými, slovanskými a keltskými bohy. Najděte svého boha s mou webovou aplikací.">
    <meta name="keywords" content="webová aplikace, vikingové, slovani, kelti, viking, slovan, kelt, středověk, divinace, pohanství, věštění, mytologie, bůh, bohyně, duchovní průvodce, patron, ochránce, python, projekt, flask, bootstrap, jinja, fullstack, brand, pagania">
    <meta name="author" content="Jiří Svoboda - George Freedom">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE -->
    <title>{% block title %}Base title{% endblock %}</title>

    <!-- CUSTOM STYLE -->
    {% block mystyle %}
    {% endblock %}

    {{ bootstrap.load_css() }}
</head>

<body>

<main>
<!-- NAVBAR -->
{% include "navbar.html" %}

<!-- CONTENT -->
{% block content %}

{% endblock %}

<!-- FOOTER -->
{% include "footer.html" %}
</main>
{{ bootstrap.load_js() }}
</body>

</html>