{% extends "base.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <!-- Hero -->
    <section id="hero">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-start g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="static/img/profilka-mini.jpg" class="d-block mx-lg-auto img-fluid img-thumbnail" alt="George Freedom - Jiří Svoboda, profilový obrázek" loading="lazy">
                </div>

                <div class="col-lg-6">
                    <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Kontakt</h2>
                    <p class="lead">- Jiří Svoboda</p>
                    <p class="lead">- programování v <strong>Pythonu</strong></p>
                    <p class="lead">- vývoj <strong>web aplikací</strong> (pro firmy i soukromě)</p>
                    <p class="lead">e-mail: george.freedom@centrum.cz</p>
                    <p class="lead">osobní web & LinkedIn - viz odkazy níže v patičce</p>

                </div>

            </div>
        </div>

    </section>
{% endblock %}