{% extends "base.html" %}

{% block title %}Moje věštba{% endblock %}

{% block content %}

<!-- Divination -->
<section id="divination">
    <div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="../static/img/aegishjalmur.jpg" alt="Severský symbol aegishjalmur" width="300" height="300">
        <h1 class="display-5 fw-bold text-body-emphasis">{{ introduction }} : {{ divination.name }}</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">{{ divination.description }}</p>

          <div class="justify-content-sm-center">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" >
                <a href="{{ url_for('index') }}" class="text-decoration-none text-dark">Jdi zpět</a></button>

          </div>
          <div class="mt-4 justify-content-sm-center">
              <h2 class="fw-semibold fs-5 text-body-emphasis fc-white">O vývoji webové aplikace "Moje kořeny"</h2>
            <button type="button" class="btn btn-warning btn-lg px-4 gap-3 mt-3" >
                <a href="{{ url_for('web_app_development') }}" class="text-decoration-none fw-2 text-dark">O aplikaci</a></button>
          </div>

        </div>
      </div>
    </div>
</section>

{% endblock %}