<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav fs-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">On-line věštba</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="https://www.pagania.cz" target="_blank">E-shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="https://podcasters.spotify.com/pod/show/pagania" target="_blank">Podcasty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="https://www.youtube.com/@paganiavikingworkshops/videos" target="_blank">YouTube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="https://www.pagania.cz/clanky-1/" target="_blank">Blog & články</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="https://www.pagania.cz/knihy/kniha-pohanske-vesteni--primus//" target="_blank">Kniha o věštění</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>