<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav fs-5">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Domů</a>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vikingové
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.pagania.cz" target="_blank">E-shop</a></li>
            <li><a class="dropdown-item" href="https://podcasters.spotify.com/pod/show/pagania" target="_blank">Podcasty</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/@paganiavikingworkshops/videos" target="_blank">Pagania Youtube</a></li>
            <li><a class="dropdown-item" href="https://www.pagania.cz/clanky-1/" target="_blank">Blog & články</a></li>
            <li><a class="dropdown-item" href="https://www.pagania.cz/knihy/kniha-pohanske-vesteni--primus//" target="_blank">Kniha o věštění</a></li>
          </ul>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            O Aplikaci
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('web_app_development')}}">Vývoj Aplikace</li>
            <li><a class="dropdown-item" href="https://documenter.getpostman.com/view/34314640/2sA3kRL4o6" target="_blank">API</a></li>
          </ul>
        </li>

          <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('contact')}}">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>