{% extends "base.html" %}

{% block title %}Vývoj web aplikce{% endblock %}

<!-- ¨Custom style pro text -->
{% block mystyle %}
<style>
    p {
    text-align: justify;
    }
    .bold {
    font-weight: bold;
    }
    .italic {
    font-style: italic;
</style>
{% endblock %}


{% block content %}
<!-- ¨Title -->
<section id="title">
        <div class="container">
            <div class="px-4 py-5 my-5 text-center">
                <header>
                    <h1 class="display-5 fw-bold text-body-emphasis">Vývoj aplikace „Moje kořeny“</h1>
                  <div class="col-lg-6 mx-auto">
                    <h2 class="lead mb-4 fs-3">potřebné skills, čas a roadmap projektu</h2>
                  </div>
                </header>
            </div>

        </div>

</section>

<!-- Content -->
<section id="hero">

          <div class="container col-xxl-8 px-4 py-5">

            <div class="row flex-lg-row-reverse align-items-start g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="static/img/backend.png" class="d-block mx-lg-auto img-fluid" alt="Back-end programování webové aplikace - Python, Flask" width="700" height="500" loading="lazy">
              </div>

                <div class="col-lg-6">
                    <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">1. Back-end aneb hrubá funkčnost</h2>
                    <p class="lead">skills: 	<strong>Python</strong> & <strong>OOP</strong>, <strong>Flask</strong>, HTML, Jinja</p>
                    <p class="lead">čas: 	příjemný večer s kávou</p>
                    <p >Nejdříve jsem převedl myšlenku jako návrh na papír. Výsledkem bylo grafické schéma, kde jsem vyřešil fungování, <span class="bold">routing</span> a propojení mezi stránkami a předávání proměnných.</p>
                    <p>Následovalo vlastní naprogramování, v tomto případě to znamenalo <span class="bold">kombinaci Python a frameworku Flask</span>. Jednotlivé webové stránky jsem v tuto chvíli řešil pouze natvrdo napsaným HTML kódem, který fungoval primárně jako ověření správného propojení mezi stránkami. Do rout pro jednotlivé stránky jsem přidal parametry a pomocí Jinja jsem je znázornil ve výsledném HTML. Přidal jsem tlačítka a odkazy a ověřil správné fungování.</p>
                    <p>Obsah, tedy generování konkrétního boha / bohyně ze tří náboženství (Vikingové, Slovani a Kelti), probíhá pomocí pythonní funkce z <span class="bold">modulu random</span>. Data pro jednotlivé bohy (jména, popis) jsou výsledkem mé práce a zájmu o raný středověk. Nyní se mi to hodilo a nemusel jsem využívat nic cizího. Využil jsem <span class="bold">OOP</span> a navrhnul jsem si třídu „God“, kde jsem postupně vytvořil <span class="bold">instance jednotlivých božstev</span> a rozdělil je do tří skupin. Přidal jsem hlavní rys aplikace, kdy při výběru konkrétního náboženství dojde k náhodnému výběru jednoho z jejich bohů a výsledek se zobrazí na nové stránce, která je <span class="bold">dynamicky generovaná</span>. Otestoval jsem, že to funguje tak, jak chci.
                        Přišel čas nahodit vizuál a pohrát si trochu s frontendem.</p>

                </div>

            </div>


            <div class="row flex-lg-row align-items-start g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="static/img/frontend.png" class="d-block mx-lg-auto img-fluid" alt="Front-end web aplikace - Bootstrap, Jinja" width="700" height="500" loading="lazy">
                </div>

                  <div class="col-lg-6">
                      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">2. Front-end aneb vzhled is the king</h2>
                      <p class="lead">skills: 	<strong>Jinja</strong>, <strong>HTML</strong>, CSS & <strong>Bootstrap</strong></p>
                      <p class="lead">čas: 	ráno na Bootstrap, HTML a CSS</p>
                      <p class="lead">	odpoledne na procházení a výběr obrázků do carouselu</p>
                      <p>Nastal čas nahradit provizorní <span class="bold">hardcoded HTML</span> něčím lepším a zároveň si práci zjednodušit. Nejdříve jsem si navrhnul vlastní layout stránek na papír. Poté jsem si vybral <span class="bold">Bootstrap komponenty</span>, které se pro můj návrh hodily a vyzkoušel, jak moc se to přibližuje mé představě. Když jsem došel k názoru, že OK, nastal čas na další krok. </p>
                      <p>Ve stylu <span class="bold">Divide et Impera</span> a v souladu s principy programování a <span class="bold">reusability kódu</span> jsem, místo tvorby kompletních jednotlivých web stránek, vytvořil základní šablonu „base.html“, pomocí <span class="bold">Jinja</span> do ní přidal komponenty pro navigaci a patičku a tuto šablonu jsem pak „podědil“ pro jednotlivé web stránky. Jinja v těchto stránkách také obstarává používání proměnných z backendu. Díky tomu mohu v budoucnosti snadno měnit jednotlivé součásti (hlavička, patička, tělo) na všech stránkách najednou a případně tyto části použít na jiný projekt. Na stránkách jsem jemně dostyloval drobnosti typu tlačítka, odkazy, velikost a formát písma pomocí Bootstrap i vlastních CSS tříd.</p>
                      <p><span class="bold">Cherry-on-the-top</span> byl finální výběr obrázků pro carousel na úvodní stránce, jejich úpravy (velikost) a posouzení, jak moc jdou s duchem appky. Otestoval jsem si funkčnost a reakce generovaných stránek.</p>
                      <p></p>

                  </div>

              </div>

              <div class="row flex-lg-row align-items-start g-5 py-5">

                <div class="col-lg-6">
                    <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">3. Kontrola a testování</h2>
                    <p class="lead">skills: 	pozornost a pečlivost</p>
                    <p class="lead">čas: cca 2h</p>
                    <p>Před nasazením do provozu jsem provedl ještě <span class="bold">výstupní kontrolu</span>, zda vše funguje a přesměrovává  jak má a také jsem finálně zkontroloval vzhled a responzivitu. </p>
                    <p class="italic">Jsou to právě ty malé drobné věci, chybky, nedokonalosti nebo chuť vylepšit ještě tohle a tamto, které dokážou zabrat víc času než samotné programování</p>
                    <p>Pokud tomu člověk propadne přespříliš, bude stále hledat způsoby, jak to vylepšit nebo jaké lepší nástroje, jazyk a frameworky použít, ale k akci - dokončení, spuštění a zveřejnění projektu - nikdy nedojde.</p>
                </div>

                <div class="col-lg-6">
                      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">4. Deployment aneb kam s ní</h2>
                      <p class="lead">skills: <strong>GitHub</strong>, <strong>Render</strong></p>
                      <p class="lead">čas: cca 2h</p>
                    <p>Dokud není appka k dispozici <span class="bold">on-line</span> nemá moc praktického využití .. tedy pokud nejsme založeni jako single-player gamers. Takže bylo potřeba najít pro ni nějaké místo, kde <span class="italic">může běžet bez problémů a dostupná pro kohokoliv po internetu</span>. Prozkoumal jsem možnosti a podmínky a vybral místo pro <span class="bold">deployment</span>. </p>
                      <p>Apku jsem pak nahrál do nového repozitáře na <span class="bold">GitHub</span>, přidal potřebné požadavky do requirements a když už jsem byl v tom, tak i popis projektu a základní dokumentaci.</p>
                      <p>Nakonec jsem repozitář s apkou propojil se službou <span class="bold">Render</span>, který působí jako <span class="bold">můj on-line hosting / server</span>. S určitými omezeními (rychlost, velikost apky) je možné využívat Render ve free-verzi. Po deploynutí apky jsem ještě ověřil její vzhled a fungování na renderu.</p>
                  </div>

            </div>

              <div class="row flex-lg-row align-items-start g-5 py-5">

                <div class="col-lg-6">
                    <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">5. Marketing aneb let the world know </h2>
                    <p class="lead">skills: FB, LinkedIn, prodejní kanály</p>
                    <p class="lead">čas: cca 2h</p>
                    <p>Nyní nastal <span class="bold">čas na marketing a propagaci</span>, aneb dát o své web apce vědět. Protože je to hobby projekt, nemusím to moc řešit a využiju <span class="bold">sociální sítě</span>, kam hodím příspěvek a link. Využiju i další možnosti díky svému eshopu <strong>www.pagania.cz</strong> - dám link na Pagania stránky a přidám jej do každého emailu, který obdrží zákazník spolu s objednávkou z eshopu.</p>
                    <p>V appce mám v navigaci odkazy na své další zájmové a odborné aktivity (E-shop, Youtube channel, Spotify podcasty, články .. ) v hlavičce. V patičce uvádím profesionální část - kontaktní údaje a pracovní profil (LinkedIn, osobní web, profesní články)</p>
                    <p><span class="italic">Zužitkováním těchto postupů maximalizuji rozsah a dosah pomocí kanálů a možností, které mám</span>. V zásadě může appka pomoci zvýšit povědomí o mých dalších projektech a stejně tak mohou mé projekty a zájmy zvýšit zájem o mou aplikaci. Za mě je to <span class="bold">win-win</span> :)</p>
                </div>

                <div class="col-lg-6">
                      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">6. Future development aneb co s apkou dál</h2>
                      <p class="lead">skills: Flask, <strong>SQLAlchemy</strong> & whatever necessary</p>
                    <p class="lead">čas: cokoliv</p>
                      <p>Tuto <span class="bold">web app</span> jsem vytvořil pro radost, protože mě to baví a chtěl jsem zapraktikovat naučené znalosti na svém vlastním projektu</p>
                      <p>Na základě feedbacku a vlastních myšlenek mohu aplikaci upravit a dále rozvíjet.
                      <p>Do budoucna přidám <span class="bold">databázi a Rest API</span> – pro jednotlivé bohy. Možná také rozšířím počet jednotlivých bohů a náboženství nebo přidám i jiné mechaniky pro výběr a věštění :)</p>
                  </div>

                  <div class="col-lg-12">
                    <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">7. Závěr</h2>
                      <p>Při tvorbě této <strong>webová aplikace</strong> jsem využil zkušenosti s backend i frontend vývojem (<span class="bold">UX a UI design</span>). Po dokončení a otestování jsem ji deploynul a zpřístupnil k volnému on-line použití. Aplikaci jsem pojal jako <strong>fullstack projekt</strong> a využil jsem dostupné nástroje <span class="bold">marketingu a propagace</span>.</p>
                      <p>V rámci tvorby tohoto projektu jsem také pracoval s <span class="bold">osobním i produktovým brandem</span> (<a href="https://georgefreedom.com" class="text-decoration-none text-body-primary bold">GeorgeFreedom.com</a>, <a href="https://pagania.cz" class="text-decoration-none text-body-primary bold">PAGANIA.cz</a>). Svou zkušenost s vývojem jsem popsal v tomto článku, který bude tvořit web content také na mém osobním webu. Výsledek je lepší, než jsem sám očekával.</p>
                  </div>
            </div>


            <div class="container d-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                <a href="{{ url_for('contact') }}" class="text-decoration-none text-white">Kontakt</a></button>
            </div>
          </div>

    </section>
{% endblock %}